/* I, O, T, S, Z, J, L */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --cube-size: 1.5rem;
  height: 100vh;
  --s: green; /* S */
  --l: orangered; /* L */
  --o: yellow; /* O */
  --t: purple; /* T */
  --z: red; /* Z */
  --j: blue; /* J */
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: 3rem auto 3rem;
}

main {
  display: grid;
  margin: auto;
}
